<section class="registerSection">
  <h1>Register</h1>
  <form action="/register" method="post">
    <div class="user-error"></div>
    <input type="text" name="username" placeholder="Username" />
    <div class="pass-error"></div>
    <input type="password" name="password" placeholder="Password" />
    <div class="email-error"></div>
    <input type="text" name="email" placeholder="Email" />
    <button>Register</button>
  </form>

  <script>
    const form = document.querySelector('form');
    const userError = document.querySelector('.user-error');
    const passError = document.querySelector('.pass-error');
    const emailError = document.querySelector('.email-error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      userError.textContent = '';
      passError.textContent = '';
      emailError.textContent = '';

      const username = form.username.value;
      const password = form.password.value;
      const email = form.email.value;

      try {
        const res = await fetch('/register', {
          method: 'POST',
          body: JSON.stringify({ username, email, password }),
          headers: { 'Content-Type': 'application/json' },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          userError.textContent = data.errors.username;
          passError.textContent = data.errors.password;
          emailError.textContent = data.errors.email;
        }
        if (data.user) {
          location.assign('/');
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</section>
